<div class="content">
    {% if site.background %}
        <img src="{{ site.background }}" id="fullscreen">
    {% else %}
        <img src="{{ site.background }}" id="fullscreen">
    {% endif %}

    {% if site.avatar %}
        <img src="{{ site.avatar }}" id="avatar">
    {% else %}
        <img src="{{ site.avatar }}" id="avatar">
    {% endif %}
    
    {% if page.title %}
        <h1>v2 page: {{ page.title }}</h1>
    {% else %}
        <h1>v2 site: {{ site.title }}</h1>
    {% endif %}
    <h3>v2 site: {{ site.description }}</h3>
</div>
