<div class="content">
    {% if page.background %}
        <img src="{{ page.background }}" id="fullscreen">
    {% else %}
        <img src="{{ site.background }}" id="fullscreen">
    {% endif %}

    {% if page.avatar %}
        <img src="https://images.weserv.nl/?url={{ page.avatar }}&w=180&h=180&output=jpg&q=65&fit=cover" id="avatar">
    {% else %}
        <img src="https://images.weserv.nl/?url={{ site.avatar }}&w=180&h=180&output=jpg&q=65&fit=cover" id="avatar">
    {% endif %}
    
    {% if page.my_name %}
        <h1>{{ page.my_name }}</h1>
    {% else %}
        <h1>John Doe, the coder</h1>
    {% endif %}
    {% if page.my_description %}
        <h3>{{ page.my_description }}</h3>
    {% else %}
        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at metus a risus euismod imperdiet. Suspendisse congue vitae diam ac semper. Quisque bibendum vulputate tortor.</h3>
    {% endif %}
</div>
